apiVersion: external-secrets.io/v1
kind: ExternalSecret

metadata:
  name: tsidp
  namespace: tailscale

spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    creationPolicy: Owner
  data:
    - secretKey: TS_AUTHKEY
      remoteRef:
        key: tsidp-auth/credential
