apiVersion: v1
kind: PersistentVolumeClaim

metadata:
  name: tsidp-data
  namespace: tailscale

spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 10Gi
