apiVersion: argoproj.io/v1alpha1
kind: Workflow

metadata:
  generateName: terragrunt-
  namespace: argo-workflows

spec:
  entrypoint: main
  onExit: status
  activeDeadlineSeconds: 3600
  serviceAccountName: argo-workflow
  arguments:
    parameters:
      - name: repo
        value: https://github.com/kn-lim/homelab.git
      - name: revision
        value: main
      - name: directory
      - name: terraform-version
        value: "1.14.4"
      - name: terragrunt-version
        value: "0.99.1"

  volumeClaimTemplates:
    - metadata:
        name: workdir
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 2Gi

  templates:
    - name: main
      dag:
        tasks:
          - name: git-clone
            templateRef:
              name: git
              template: clone
            arguments:
              parameters:
                - name: repo
                  value: "{{workflow.parameters.repo}}"
                - name: revision
                  value: "{{workflow.parameters.revision}}"
          - name: terragrunt-apply
            dependencies: [git-clone]
            templateRef:
              name: terragrunt
              template: run
            arguments:
              parameters:
                - name: command
                  value: terragrunt stack run apply --non-interactive
                - name: terraform-version
                  value: "{{workflow.parameters.terraform-version}}"
                - name: terragrunt-version
                  value: "{{workflow.parameters.terragrunt-version}}"
                - name: workdir
                  value: "/workdir/src/terraform/{{workflow.parameters.directory}}"

    - name: status
      steps:
        - - name: send-status
            templateRef:
              name: discord
              template: status
