apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet

metadata:
  name: homelab-applications
  namespace: argocd

spec:
  goTemplate: true
  generators:
    - list:
        elements:
          # argo-workflows
          - path: argo-workflows/argo-workflows
          # cluster-services
          - path: cluster-services/external-secrets
            serverSideApply: true
          - path: cluster-services/kubelet-serving-cert-approver
          - path: cluster-services/local-path-provisioner
          - path: cluster-services/reloader
          # kube-system
          - path: kube-system/cilium
          - path: kube-system/coredns
          - path: kube-system/metrics-server
          # monitoring
          - path: monitoring/grafana
          - path: monitoring/prometheus
          - path: monitoring/prometheus-pve-exporter
          # selfhosted
          - path: selfhosted/headlamp
          - path: selfhosted/jellyfin
          # tailscale
          - path: tailscale/tailscale-operator
          - path: tailscale/tsidp
            tsidp: true
          # utilities
          - path: utilities/utilities
  template:
    metadata:
      name: '{{ index (splitList "/" .path) 1 }}'
    spec:
      project: default
      source:
        repoURL: git@github.com:kn-lim/homelab.git
        targetRevision: main
        path: kubernetes/overlays/homelab/{{ .path }}
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{ index (splitList "/" .path) 0 }}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
  templatePatch: |
    {{- if .serverSideApply }}
    spec:
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
    {{- end }}
    {{- if .tsidp }}
    spec:
      ignoreDifferences:
        - group: ""
          kind: Service
          name: tsidp-egress
          jsonPointers:
            - /spec/externalName
    {{- end }}
