apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: argocd
  namespace: argocd

spec:
  project: default
  source:
    repoURL: git@github.com:kn-lim/homelab.git
    targetRevision: main
    path: kubernetes/overlays/homelab/argocd/argocd
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
