apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
data:
  # TODO: Fix Tailscale's Access Controls to allow for groups for tsidp
  # policy.csv: |
  #   g, admin, role:admin
  policy.default: role:admin
  # scopes: '[groups]'
