{{- $config := (datasource "config") -}}
{{- range $config.clusters -}}
{{- if eq .name "homelab" -}}
apiVersion: external-secrets.io/v1
kind: ExternalSecret

metadata:
  name: headlamp-tsidp-secret
  namespace: selfhosted

# TODO: tsidp doesn't seem to work natively with Headlamp. Will need to investigate whether standalone Dex will resolve this.
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: headlamp-oidc
    creationPolicy: Owner
    template:
      mergePolicy: Merge
      data:
        OIDC_ISSUER_URL: "https://idp.{{ .tailscale_tailnet_name }}.ts.net"
        OIDC_SCOPES: "openid email profile"
        OIDC_CALLBACK_URL: "https://headlamp.{{ .tailscale_tailnet_name }}.ts.net/oidc-callback"
  data:
    - secretKey: OIDC_CLIENT_ID
      remoteRef:
        key: tsidp-headlamp/client_id
    - secretKey: OIDC_CLIENT_SECRET
      remoteRef:
        key: tsidp-headlamp/client_secret
{{- end }}
{{- end }}
