{{- $config := (datasource "config") -}}
{{- range $config.clusters -}}
{{- if eq .name "homelab" -}}
apiVersion: apps/v1
kind: Deployment

metadata:
  name: romm
  namespace: romm

spec:
  template:
    spec:
      volumes:
        - name: library
          nfs:
            server: "{{ .name }}.{{ .local_domain }}"
            path: /mnt/user/games
{{- end }}
{{- end }}
