# Hostname
apiVersion: v1alpha1
kind: HostnameConfig
%{ if hostname != "" ~}
hostname: ${hostname}
auto: off
%{ else ~}
auto: stable
%{ endif ~}
---
# Physical Link
machine:
  network:
    interfaces:
      - deviceSelector:
          hardwareAddr: ${hardware_addr}
        addresses:
          - ${node_ip}/24
        routes:
          - network: 0.0.0.0/0  # single NIC cluster
            gateway: ${gateway}
---
# DNS Resolvers
apiVersion: v1alpha1
kind: ResolverConfig
nameservers:
  - address: ${dns_server}
searchDomains:
  disableDefault: true
