apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - patches

resources:
  # - ../../../../../bases/argo-workflows
  - environment-secret.yaml
  - ingress.yaml
  - serviceaccount.yaml
  # Workflows
  - ../../../../../bases/workflows

patches:
  # NOTE: The following patches exist since workflows would always run in the argo-workflows namespace
  - patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: Role
      metadata:
        name: argo-workflows-workflow
        namespace: argo
  - patch: |-
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: RoleBinding
      metadata:
        name: argo-workflows-workflow
        namespace: argo
