apiVersion: external-secrets.io/v1
kind: ExternalSecret

metadata:
  name: argocd-ssh-credentials
  namespace: argo

spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    creationPolicy: Owner
    template:
      metadata:
        labels:
          argocd.argoproj.io/secret-type: repo-creds
  data:
    - secretKey: url
      remoteRef:
        key: argocd-ssh/url
    - secretKey: sshPrivateKey
      remoteRef:
        key: argocd-ssh/private key
