{{- $config := (datasource "config") -}}
{{- range $config.clusters -}}
{{- if eq .name "homelab" -}}
apiVersion: v1
kind: Service

metadata:
  annotations:
    tailscale.com/tailnet-fqdn: idp.{{ .tailscale_tailnet_name }}.ts.net
  name: tsidp-egress
  namespace: tailscale

spec:
  externalName: placeholder   # will be overwritten by operator
  type: ExternalName
{{- end }}
{{- end }}
