apiVersion: builtin
kind: HelmChartInflationGenerator

metadata:
  name: coredns

valuesInline:
  service:
    name: kube-dns
    clusterIP: 10.96.0.10   # service subnet
  servers:
    # Tailscale Nameserver
    - zones:
        - zone: ts.net
      port: 53
      plugins:
        - name: errors
        - name: forward
          parameters: . 10.96.156.95   # tailscale nameserver ip

    # Talos Linux Defaults
    - zones:
        - zone: .
      port: 53
      plugins:
        - name: errors
        - name: health
          configBlock: |-
            lameduck 5s
        - name: ready
        - name: log
          parameters: .
          configBlock: |-
            class error
        - name: prometheus
          parameters: :9153
        - name: kubernetes
          parameters: cluster.local in-addr.arpa ip6.arpa
          configBlock: |-
            pods insecure
            fallthrough in-addr.arpa ip6.arpa
            ttl 30
        - name: forward
          parameters: . /etc/resolv.conf
          configBlock: |-
            max_concurrent 1000
        - name: cache
          parameters: "30"
          configBlock: |-
            disable success cluster.local
            disable denial cluster.local
        - name: loop
        - name: reload
        - name: loadbalance
