apiVersion: v1
kind: PersistentVolumeClaim

metadata:
  name: jellyfin-config
  namespace: selfhosted

spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
