apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate

metadata:
  name: terragrunt
  namespace: argo-workflows

spec:
  templates:
    - name: run
      inputs:
        parameters:
          - name: command
          - name: workdir
            default: /workdir/src/terraform
      container:
        image: ghcr.io/jdx/mise
        command: [bash, -c]
        args:
          - |
            mise trust &&
            mise install &&
            {{inputs.parameters.command}}
        workingDir: "{{inputs.parameters.workdir}}"
        envFrom:
          - secretRef:
              name: environment-variables
        volumeMounts:
          - name: workdir
            mountPath: /workdir
