apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate

metadata:
  name: terragrunt
  namespace: argo-workflows

spec:
  templates:
    - name: run
      inputs:
        parameters:
          - name: command
          - name: workdir
            default: /workdir/src/terraform
      container:
        image: debian:bookworm-slim
        command: [sh, -c]
        args:
          - |
            apt-get update &&
            apt-get install -y --no-install-recommends ca-certificates curl git unzip &&
            curl -fsSL https://releases.hashicorp.com/terraform/{{inputs.parameters.terraform-version}}/terraform_{{inputs.parameters.terraform-version}}_linux_amd64.zip -o /tmp/terraform.zip &&
            unzip /tmp/terraform.zip -d /workdir/bin &&
            curl -fsSL https://github.com/gruntwork-io/terragrunt/releases/download/v{{inputs.parameters.terragrunt-version}}/terragrunt_linux_amd64 -o /workdir/bin/terragrunt &&
            chmod +x /workdir/bin/terragrunt &&
            {{inputs.parameters.command}}
        workingDir: "{{inputs.parameters.workdir}}"
        env:
          - name: PATH
            value: /workdir/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        envFrom:
          - secretRef:
              name: environment-variables
        volumeMounts:
          - name: workdir
            mountPath: /workdir
