apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cluster-services

resources:
  - github.com/rancher/local-path-provisioner/deploy?ref=v0.0.34

patches:
  # https://docs.siderolabs.com/kubernetes-guides/csi/local-storage#local-path-provisioner
  # https://github.com/rancher/local-path-provisioner/blob/master/deploy/local-path-storage.yaml
  - patch: |-
      $patch: delete
      apiVersion: v1
      kind: Namespace
      metadata:
        name: local-path-storage
  - target:
      kind: ConfigMap
      name: local-path-config
    patch: |-
      - op: replace
        path: /data/config.json
        value: |
          {
            "nodePathMap":[
              {
                "node":"DEFAULT_PATH_FOR_NON_LISTED_NODES",
                "paths":["/var/mnt/local-path-provisioner"]
              }
            ]
          }
      - op: replace
        path: /data/helperPod.yaml
        value: |
          apiVersion: v1
          kind: Pod
          metadata:
            name: helper-pod
            namespace: cluster-services
          spec:
            priorityClassName: system-node-critical
            tolerations:
              - key: node.kubernetes.io/disk-pressure
                operator: Exists
                effect: NoSchedule
            containers:
            - name: helper-pod
              image: busybox
              imagePullPolicy: IfNotPresent
  - target:
      kind: StorageClass
      name: local-path
    patch: |-
      - op: add
        path: /metadata/annotations/storageclass.kubernetes.io~1is-default-class
        value: "true"
