{{- $config := (datasource "config") -}}
{{- range $config.clusters -}}
{{- if eq .name "homelab" -}}
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy

metadata:
  name: local-gateway-policy
  annotations:
    # The cilium-operator creates the Cilium CRDs at runtime.
    # This option lets ArgoCD sync this resource before the CRDs exist.
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

spec:
  serviceSelector:
    matchLabels:
      app.kubernetes.io/name: traefik
  externalIPs: false
  loadBalancerIPs: true
{{- end }}
{{- end }}
