{{- $config := (datasource "config") -}}
{{- range $config.clusters -}}
{{- if eq .name "homelab" -}}
apiVersion: cilium.io/v2
kind: CiliumLoadBalancerIPPool

metadata:
  name: local-pool

spec:
  blocks:
    - cidr: "{{ .local_vip }}/32"
{{- end }}
{{- end }}
