{{- $config := (datasource "config") -}}
{{- range $config.clusters -}}
{{- if eq .name "homelab" -}}
apiVersion: cilium.io/v2
kind: CiliumLoadBalancerIPPool

metadata:
  name: local-pool
  annotations:
    # The cilium-operator creates the Cilium CRDs at runtime.
    # This option lets ArgoCD sync this resource before the CRDs exist.
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

spec:
  blocks:
    - cidr: "{{ .local_vip }}/32"
{{- end }}
{{- end }}
