{{- $config := (datasource "config") -}}
{{- range $config.clusters -}}
{{- if eq .name "homelab" -}}
apiVersion: builtin
kind: HelmChartInflationGenerator

metadata:
  name: immich

valuesInline:
  controllers:
    main:
      containers:
        main:
          env:
            REDIS_HOSTNAME: valkey-primary.valkey.svc.cluster.local

  server:
    controllers:
      main:
        containers:
          main:
            env:
              DB_HOSTNAME: postgres-rw.postgres.svc.cluster.local
              DB_USERNAME: immich
              DB_DATABASE_NAME: immich
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-db-secret
                    key: password

  machine-learning:
    controllers:
      main:
        containers:
          main:
            resources:
              limits:
                nvidia.com/gpu: 1
    persistence:
      cache:
        type: persistentVolumeClaim
        existingClaim: immich-ml-cache

  valkey:
    enabled: false

  immich:
    persistence:
      library:
        existingClaim: immich-library
{{- end }}
{{- end }}
