{{- $config := (datasource "config") -}}
{{- range $config.clusters -}}
{{- if eq .name "homelab" -}}
apiVersion: builtin
kind: HelmChartInflationGenerator

metadata:
  name: traefik

valuesInline:
  service:
    annotations:
      lbipam.cilium.io/ips: "{{ .local_vip }}"

  ports:
    traefik:
      expose:
        default: true
{{- end }}
{{- end }}
