apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: namespaces
  namespace: argo

spec:
  project: default
  source:
    repoURL: git@github.com:kn-lim/homelab.git
    targetRevision: main
    path: kubernetes/bases/namespaces
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
