apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: prompve/prometheus-pve-exporter
    newTag: 3.8.1
