{{- $config := (datasource "config") -}}
{{- range $config.clusters -}}
{{- if eq .name "homelab" -}}
stack "talos" {
  source = "${find_in_parent_folders("_stacks/talos")}"

  path = "talos"

  values = {
    talos = {
      name       = "{{ .name }}"
      endpoint   = "{{ .endpoint }}"
      dns_server = "{{ .dns_server }}"
      gateway    = "{{ .gateway }}"
{{- if (index . "network_interface") }}

      network_interface = "{{ .network_interface }}"
{{- end }}
{{- if (index . "talos_version") }}

      talos_version = "{{ .talos_version }}"
{{- end }}
{{- if (index . "kubernetes_version") }}

      kubernetes_version = "{{ .kubernetes_version }}"
{{- end }}
{{- if (index . "nvidia_gpu_enabled") }}

      nvidia_gpu_enabled = {{ .nvidia_gpu_enabled }}
{{- end }}

      node_data = {
        controlplanes = {
{{- range .controlplanes }}
          "{{ .ip }}" = {
{{- if (index . "install_disk") }}
            install_disk = "{{ .install_disk }}"
{{- end }}
{{ if (index . "hostname") }}
            hostname = "{{ .hostname }}"
{{- end }}
          }
{{- end }}
        }
      }
      node_subnet    = "{{ .node_subnet }}"
      service_subnet = "{{ .service_subnet }}"
      pod_subnet     = "{{ .pod_subnet }}"
    }

    cluster-bootstrap = {
{{- range .external_secrets }}
{{- if (index . "onepassword") -}}
{{- range .onepassword }}
      namespace         = "{{ .namespace }}"
      vault_name        = "{{ .vault_name }}"
      secret_name       = "{{ .secret_name }}"
      token_secret_name = "{{ .token_secret_name }}"
{{- end }}
{{- end }}
{{- end }}
    }
  }
}
{{- end }}
{{- end }}
